@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  background-color: var(--main-color);
  overflow: hidden;
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  min-height: 100vh;
}
:root {
  --main-color: rgb(223, 231, 237);
  --padding-base: 10px;
  --color-primary: #2d3052;
  --box-shadow-primary: 0px 0px 10px rgba(0, 0, 0, 0.132);
  --border-radius-base: 7px;
  --primary-color: #1a9eeb;
  --secondary-color: #2d3052;
  --font-size: 16px;
  --font-family: 'Arial', sans-serif;
  --padding: 10px;
}

.asterisk {
  color: red;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
.description-header-cell {
  width: 200px;
}
.description-cell > div {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  max-height: 50px;
}
.detail-info-container {
  box-shadow: var(--box-shadow-primary);
}
