.admin-dashboard {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f5f7fa;
    min-height: 100vh;
}

.sidebar {
    height: 100vh;
    position: sticky;
    top: 0;
}

.nav-link {
    color: #333;
    font-weight: 500;
    transition: 0.2s ease-in-out;
}

.nav-link:hover,
.nav-link.active {
    color: rgb(104, 145, 162);
    background-color: #e7f1ff;
    border-radius: 0.375rem;
    padding-left: 0.75rem;
}
